name: Deploy

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted
    
    steps:
    - name: Deploy
      run: |
        cd /home/husniddin/tinchost/
        git pull origin main
        ./restart.sh